server:
  port: 8083

spring:
  application:
    name: poliza-service

  datasource:
    url: jdbc:h2:mem:polizasdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true
